# Bỏ qua thư mục cấu hình của IDE
.idea/
*.iml
*.xml

# Bỏ qua toàn bộ thư mục build và file biên dịch
**/target/
*.class
*.jar

# Bỏ qua mọi file bảo mật môi trường
**/.env

# Bỏ qua thư mục làm việc của Postman
.postman/
postman/